Repository DoctorDalek1963/lintrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-build, cargo-build-release, cargo-test-release

just-build:
  name: just build
  entry: just build
  language: system
  pass_filenames: false

cargo-build-release:
  name: cargo build release
  entry: bash -c 'cd process-code-snippets && LINTRANS_DIR=../lintrans cargo build --release'
  language: system
  pass_filenames: false

cargo-test-release:
  name: cargo test release
  entry: bash -c 'cd process-code-snippets && LINTRANS_DIR=../lintrans cargo test --release'
  language: system
  pass_filenames: false

pdtest: Start post-development testing section
  images/pdtest/compile.png
  images/pdtest/define-numerically.png
  images/pdtest/define-visually.png
  images/pdtest/info-panel-no-expression.png
  images/pdtest/render-defined-A.png
  images/pdtest/render-defined-B.png
  main.tex
  sections/post_development_testing.tex
Due: just-build

misc: Remove unused package
  main.tex
Due: just-build

pdtest: Add videos for animations and build zip instead of PDF
  .github/workflows/compile-pdf.yaml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  justfile
  main.tex
  sections/post_development_testing.tex
  videos/pdtest_animate_defined.mp4
  videos/pdtest_render_and_animate_rotations.mp4
Due: just-build

Update README.md
  README.md
Due: none

Download zip file instead of plain PDF
  index.html
Due: none

misc: Remove escaping from underscores in `texttt`
  bibs/docs.bib
  generate_appendices.py
  sections/analysis.tex
  sections/design.tex
  sections/development/adding_display_settings.tex
  sections/development/fumbling_with_semver.tex
  sections/development/improving_the_gui.tex
  sections/development/initial_gui.tex
  sections/development/making_v0.2.2.tex
  sections/development/matrices_backend.tex
  sections/development/preparing_for_v0.2.1.tex
  sections/development/visualizing_matrices.tex
Due: just-build

Make appendices use 63f5693
  Dockerfile
  generate_appendices.py
Due: none

misc: Fix Dockerfile to copy videos
  Dockerfile
Due: none

misc: Add zip to docker base image
  docker-base-image/Dockerfile
Due: none

Make pseudocode more consistent
  sections/design.tex
Due: just-build

Use real centre number and candidate number
  main.tex
Due: just-build

Add final issues.md
  issues.md
Due: none

Add archived message to README
  README.md
Due: none

Create flake for process-code-snippets
  process-code-snippets/.envrc
  process-code-snippets/.gitignore
  process-code-snippets/Cargo.lock
  process-code-snippets/flake.lock
  process-code-snippets/flake.nix
  process-code-snippets/src/main.rs
Due: just-build, cargo-build-release, cargo-test-release

Move generate_appendices.py into tools/ with process-code-snippets
  generate_appendices.py
  tools/.envrc
  tools/.gitignore
  tools/flake.lock
  tools/flake.nix
  tools/generate-appendices/generate_appendices.py
  tools/process-code-snippets/.gitignore
  tools/process-code-snippets/Cargo.lock
  tools/process-code-snippets/Cargo.toml
  tools/process-code-snippets/src/latex_tests.rs
  tools/process-code-snippets/src/main.rs
  tools/process-code-snippets/src/snippet/comment.rs
  tools/process-code-snippets/src/snippet/config.rs
  tools/process-code-snippets/src/snippet/info_comment.rs
  tools/process-code-snippets/src/snippet/mod.rs
  tools/process-code-snippets/src/snippet/text.rs
Due: just-build, cargo-build-release, cargo-test-release

Create flake.nix to build write-up PDF
  .gitignore
  flake.lock
  flake.nix
  patches/add-pretex.patch
  sections/design.tex
  tools/process-code-snippets/src/latex_tests.rs
  tools/process-code-snippets/src/snippet/comment.rs
Due: just-build, cargo-build-release, cargo-test-release

Prefer shortRev to dirtyShortRev
  flake.nix
Due: none

Add Nix package to build zip file
  flake.nix
Due: none

Use Nix in CI
  .github/workflows/compile-pdf.yaml
Due: none

Remove all mention of Docker
  .dockerignore
  .github/workflows/build-docker-base-image.yaml
  Dockerfile
  docker-base-image/Dockerfile
  docker-base-image/texlive.profile
  justfile
Due: just-build

Update justfile to only be used in Nix shells
  flake.nix
  justfile
Due: just-build

Add build instructions to README
  README.md
Due: none

Use Nix for pre-commit
  .pre-commit-config.yaml
Due: none

Fix Nix builds in CI using weird bodge
  .github/workflows/compile-pdf.yaml
  flake.nix
Due: none

Commit failed attempt to use Nix to build lintrans
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

Progress!
  flake.nix
  requirements.txt
  setup.cfg
Due: none

Successfully wrap lintrans binary with Qt5 libs
  flake.nix
Due: none

Add pre-commit hooks to flake.nix
  .gitignore
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: none

Update flake
  flake.lock
  flake.nix
Due: none

Make all Python packages work
  flake.nix
  requirements.txt
  setup.cfg
Due: none

Add Nix packages for types of docs
  docs/Makefile
  flake.nix
Due: none

Add desktop item for lintrans
  flake.nix
Due: none

Rename default package
  flake.nix
Due: none

Try (and fail) to build PyInstaller with Nix
  compile.py
  flake.nix
Due: none

Add new pre-commit hooks and disable mypy
  flake.nix
Due: none

Update GitHub Actions workflows to use Nix where possible
  .github/workflows/compile-release.yaml
  .github/workflows/compile-test.yaml
  .github/workflows/docstrings.yaml
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .github/workflows/type-checks.yaml
Due: none

Drop support for Python 3.10 and update runners list in GitHub workflows
  .github/workflows/compile-release.yaml
  .github/workflows/compile-test.yaml
  .github/workflows/tests.yaml
  docs/source/compilation/linux.rst
  docs/source/compilation/macos.rst
  docs/source/compilation/windows.rst
  setup.cfg
  src/lintrans/global_settings.py
Due: none

Remove unnecessary `rec` keywords in flake.nix files
  flake.nix
  tools/flake.nix
Due: none

Path conditions:
  just-build: any of: (justfile|.*\.(tex|bib|png|rs|toml))$
  cargo-build-release: any of: \.rs$
  cargo-test-release: any of: \.rs$
