Repository DoctorDalek1963/lintrans: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, pytest-doctests

pytest:
  name: pytest
  entry: pytest
  language: system
  pass_filenames: false

pytest-doctests:
  name: pytest-doctests
  entry: pytest
  language: system
  args:
  - --doctest-modules

Add pycodestyle and fix doctests pre-commits
  .pre-commit-config.yaml
  setup.cfg
Due: none

dev: Add sss Creating the settings dialog
  sections/development/adding_display_settings.tex
Due: none

Allow anonymous matrices as valid
  src/lintrans/matrices/parse.py
  src/lintrans/matrices/wrapper.py
  tests/backend/matrices/test_parse_and_validate_expression.py
Due: pytest, pytest-doctests

Add isort to pre-commit config and only run hooks on .py files
  .pre-commit-config.yaml
Due: none

Implement parsing of anonymous matrices
  src/lintrans/matrices/parse.py
  tests/backend/matrices/test_parse_and_validate_expression.py
Due: pytest, pytest-doctests

Update changelog
  CHANGELOG.md
Due: none

Add more tests for anonymous matrices and strip whitespace for sub-expressions
  src/lintrans/matrices/parse.py
  tests/backend/matrices/test_parse_and_validate_expression.py
Due: pytest, pytest-doctests

Draw I/O vectors in the visual defintion dialog
  CHANGELOG.md
  src/lintrans/gui/dialogs/define_new_matrix.py
  src/lintrans/gui/main_window.py
  src/lintrans/gui/plots/widgets.py
Due: pytest, pytest-doctests

Remove dialog tests
  setup.cfg
  tests/conftest.py
  tests/gui/test_define_dialogs.py
  tests/gui/test_other_dialogs.py
Due: pytest

Always prompt the user to save the session when exiting
  src/lintrans/gui/main_window.py
Due: pytest, pytest-doctests

Remove Xvfb and useless matrix from workflows
  .github/workflows/compile-release.yaml
  .github/workflows/tests.yaml
Due: none

Support Python 3.11
  .github/workflows/compile-release.yaml
  .github/workflows/compile-test.yaml
  .github/workflows/docstrings.yaml
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .github/workflows/type-checks.yaml
  compile.py
  setup.cfg
Due: none

Install wheel before dependencies in workflows
  .github/workflows/compile-release.yaml
  .github/workflows/compile-test.yaml
  .github/workflows/docstrings.yaml
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .github/workflows/type-checks.yaml
Due: none

Run a workflow when its file changes
  .github/workflows/compile-test.yaml
  .github/workflows/docstrings.yaml
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .github/workflows/type-checks.yaml
Due: none

Update actions to use versions compatible with Node v16
  .github/workflows/compile-release.yaml
  .github/workflows/compile-test.yaml
  .github/workflows/docstrings.yaml
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .github/workflows/type-checks.yaml
Due: none

Bump NumPy version to hopefully fix 3.11 compilation bug on macOS
  compile.py
  requirements.txt
Due: none

Use justfile for consistent compilation config
  .gitignore
  justfile
Due: none

Create global settings menu and allow more config
  compile.py
  requirements.txt
  src/lintrans/global_settings.py
  src/lintrans/gui/dialogs/define_new_matrix.py
  src/lintrans/gui/dialogs/misc.py
  src/lintrans/gui/dialogs/settings.py
  src/lintrans/gui/main_window.py
  src/lintrans/gui/plots/classes.py
  src/lintrans/gui/plots/widgets.py
  src/lintrans/typing_/__init__.py
Due: pytest, pytest-doctests

Drop support for Python 3.8 and 3.9
  .github/workflows/compile-release.yaml
  .github/workflows/compile-test.yaml
  .github/workflows/tests.yaml
  docs/source/compilation/linux.rst
  docs/source/compilation/macos.rst
  docs/source/compilation/windows.rst
  setup.cfg
  src/lintrans/global_settings.py
Due: pytest, pytest-doctests

Fix docs
  src/lintrans/global_settings.py
Due: pytest, pytest-doctests

Make display settings persist between sessions
  CHANGELOG.md
  src/lintrans/global_settings.py
  src/lintrans/gui/main_window.py
  src/lintrans/gui/settings.py
Due: pytest, pytest-doctests

Allow snapping to be toggled on and off
  CHANGELOG.md
  src/lintrans/global_settings.py
  src/lintrans/gui/dialogs/settings.py
  src/lintrans/gui/plots/classes.py
  src/lintrans/gui/settings.py
Due: pytest, pytest-doctests

Remove clean.sh and add `watch` target to justfile
  clean.sh
  justfile
Due: none

Update tutorial for v0.4.0
  docs/source/tutorial/_images/defining/info.png
  docs/source/tutorial/_images/defining/visually.png
  docs/source/tutorial/_images/global_settings/main.png
  docs/source/tutorial/configuring-display-settings.rst
  docs/source/tutorial/configuring-global-settings.rst
  docs/source/tutorial/defining-matrices.rst
  docs/source/tutorial/expression-syntax.rst
  docs/source/tutorial/index.rst
  docs/source/tutorial/saving-and-loading-sessions.rst
  docs/source/tutorial/visualizing-transformations.rst
Due: none

Fix display settings post mortem
  src/lintrans/crash_reporting.py
Due: pytest, pytest-doctests

Add anonymous matrices to the backend docs
  docs/source/backend/bnf.txt
  docs/source/backend/lintrans.matrices.rst
Due: none

Add keyboard shortcut for global settings dialog
  src/lintrans/gui/main_window.py
Due: pytest, pytest-doctests

Declare version 0.4.0
  .github/workflows/compile-release.yaml
  CHANGELOG.md
  src/lintrans/__init__.py
Due: pytest, pytest-doctests

Switch to dev version number
  src/lintrans/__init__.py
Due: pytest, pytest-doctests

Remove notice from README
  README.md
Due: none

Add information about the installed version to the release notes
  generate_release_notes.py
Due: none

Improve justfile and use full name
  bibs/mystuff.bib
  justfile
  main.tex
Due: none

Add pre-commit config
  .pre-commit-config.yaml
Due: none

dev: Add sss Fixing a bug with transitional animation
  sections/development/adding_display_settings.tex
Due: none

Use newer commit with more settings
  sections/development/adding_display_settings.tex
Due: none

dev: Add note about small bug fix
  process_code_snippets.py
  sections/development/adding_display_settings.tex
Due: none

dev: Add sss Adding the determinant parallelogram
  sections/development/adding_display_settings.tex
Due: none

dev: Add images
  images/development/b1ba4adc3c7723c95b490e831e651a7781af7d99/settings-dialog.png
  images/development/cc75c7dc85e941540f7e98fe027d0657ad5462b8/blue.png
  images/development/cc75c7dc85e941540f7e98fe027d0657ad5462b8/red.png
  sections/development/adding_display_settings.tex
Due: none

util: Oxidize snippet processing to make it faster
  justfile
  process-code-snippets/.gitignore
  process-code-snippets/Cargo.lock
  process-code-snippets/Cargo.toml
  process-code-snippets/src/main.rs
  process_code_snippets.py
Due: none

Path conditions:
  pytest: any of: ^(src|tests).*$
  pytest-doctests: any of: ^src/.*$
